@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  /* background-image: url('./images/tile2.jpeg'); */
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 650px;
}


/* removing excess space for phone */

@media all and (max-width: 450px) {
  .App {
    padding-bottom: 400px;
  }
};